body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center,.content, .form{
    text-align: center ;
}
.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
.block div{
    flex-basis: 300px;
    padding: 10px;
    box-sizing: border-box;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
}
.text{
    text-align: left;
}
.head{
    background: lightgray;
    font-size: 20px;
}
input{
    width: 98%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}
