{% extends 'todo/base.html'%}
{% block content %}
<h2>{{todo.title}}</h2>
<h4>{{ error }}</h4>
<div class="but">
<form method="post">
    {% csrf_token %}

    {{form.as_p}}
<button class="btn">Сохранить</button>
</form>
<form action="{% url 'completetodo' todo.id %}" method="post">
    {% csrf_token %}
    <button class="good">Выполнено</button>
</form>
<form action="{% url 'deletetodo' todo.id %}" method="post">
    {% csrf_token %}
    <button class="remove">Удалить</button>
</form>
</div>
{% endblock %}