{% extends 'layout.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
{{ super() }}
<h1 class="center">О НАС</h1>
<div class="center_sp">
<div>Юридический адрес: 150000 Ярославская область, г. Ярославль,
ул. Свободы, д.1/2, 3-й этаж, оф.31</div>
<div>Фактический адрес: г. Ярославль, ул. Свободы, д. 1/2, 3 этаж, оф. 31</div>
<div>Тел.: <strong>+7 (495) 023-63-93</strong></div>
<div>Учебный отдел:<strong>+7 (495) 152-41-52</strong> </div>
<div>e-mail: <strong>distant_ru@top-academy.ru</strong></div>
</div>
{% endblock %}